* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black !important;
}

nav .container-fluid img {
    width: 100px;
}

.bg-light {
    background-color: black !important;
}

nav .text-light {
    color: lightgray !important;
}

nav .nav-link:hover {
    color: white !important;
}

nav form div:nth-of-type(2) {
    color: lightgray;
}

nav form div:nth-of-type(2):hover {
    color: white;
}

nav form div {
    cursor: pointer;
}

nav div.dropdown img {
    width: 30px;
}

nav form span {
    font-size: 13px;
}

nav form .dropdown-menu.show {
    left: auto;
    right: 10px;
}

main .card .movie-info .movie-icons {
    margin-left: 5px;
    font-size: 25px;
}

main .card .movie-info .film-line {
    height: 5px;
    width: 30%;
    background-color: red;
    margin: 0 0 10px 10px;
}

main .card .movie-info h4 {
    font-size: 15px;
    margin: 0 0 10px 10px;
}

@media screen and (max-width:580px) {
    nav form div:nth-of-type(2) {
        display: none;
    }

    nav form div:nth-of-type(3) {
        display: none;
    }
}

section .row div:first-of-type button {
    background-color: black;
}

section .row div:last-of-type div {
    border: 1px solid white;
    max-height: 32px;
}

@media screen and (max-width: 767px) {
    .container-fluid .row {
        margin: 20px 0 !important;
        padding: 0 !important;
    }

    .carousel-control-prev-icon.left {
        position: absolute;
        left: -15px !important;
        top: 20% !important;
    }

    .carousel-control-next-icon.right {
        position: absolute;
        right: 15px !important;
        top: 20% !important;
    }
}

/* Carousel */

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
        width: 150px;
    }

    .carousel-inner .carousel-item>div:nth-child(2) {
        display: block;
        width: 150px;
    }

}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(15%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(0%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

main .carousel-item .card {
    background-color: black !important;
}

.carousel-inner {
    overflow: visible;
}

.carousel-control-prev-icon.left {
    position: absolute;
    left: -30px;
    top: 60px;
}

.carousel-control-next-icon.right {
    position: absolute;
    right: -30px;
    top: 60px;
}


#third-sec {
    opacity: 0;
}

.scroll-open {
    animation: open 3s forwards;
}

.scroll-close {
    opacity: 0;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.zoom-item {
    display: block !important;
}

main .card .movie-info {
    position: absolute;
    top: 0;
    width: 280px;
    z-index: 2;
    height: 280px;
    display: none;
}

main .card .movie-info:hover {
    transform: scale(1.2);
    transition: transform 0.6s linear 0s;
    z-index: 2;
    cursor: pointer;
}

/* Footer */

footer div i {
    font-size: 25px;
}

footer .text-light {
    color: rgb(154, 154, 154) !important;
}

footer .border-light {
    border: 1px solid rgb(154, 154, 154) !important;

}

footer p {
    font-size: 13px;
}



footer .row h6:hover,
button:hover {
    color: white !important;
    cursor: pointer;
}

footer .modal-header,
.modal-body,
.modal-footer {
    color: white;
}

footer .modal-footer button:last-of-type:hover {
    background-color: rgb(161, 0, 0) !important;
}